.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  background: #1da1f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  height: 300px;
  width: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.red {
  color: red;
}
